@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


body{
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
}
#background{
  height: 870px;  
  width: 100%;
  position: absolute;
  top: -70px;
  z-index: -1;
  object-fit: cover;
  -webkit-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg); 
  -o-transform: skewY(-5deg);
   transform: skewY(-5deg);
   filter: brightness(15%);
   opacity: 0.9;
}



#navbar{
  display: flex;
  justify-content: center;
  padding: 2rem;
  
}
#navitem>div{
   margin-right: 2rem;
}

#logo{
   position: absolute;
   left: 3rem;
   margin-left: 3rem;
   font-size: 1.5rem;
}

#main {
  margin: auto;  
  margin-top: 220px;
  width: 50%;
  
}
#main p{
  text-size-adjust: auto;
  width: 70%;
  margin:auto;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 2rem;
  opacity: 0.5;
}

#title{
  font-size: 75px;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

#drop_button{
  position: absolute;
  top:780px;
  left: 0; 
  right: 0; 
  margin: auto; 
 
}

/* css for hamburger responsivnesss */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

}

.sidenav a {
  padding: 8px 8px 8px 60px;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  line-height: 34px;
  color: black;
  font-weight: bold;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color:  rgb(14, 119, 206);
}

.sidenav .closebtn {
  position: absolute;
  top: 20px;
  right: 15px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

span {       /* css for hamburger responsivnesss  ends here*/
     position: absolute;
     right: 20px;
     top: 20px;
    font-size:30px;
    cursor:pointer;  
  }




  @media (max-width: 1100px){     /* media query for responsiveness */
    #logo{
      position: absolute;
      left: 1rem;
      margin-left: 1rem;
      font-size: 1.5rem;
   }   
   #title{
    font-size: 40px;
  }
  #main p{
    width: 100%;
    margin-bottom: 2rem;
    opacity: 0.5;
  }
  }

  @media (max-width: 600px){      /* for small screen size */
   #title{
    font-size: 30px;
  }
  }